CREATE TABLE CDEPARTMENTS
(DEPARTMENT_ID number(5) constraint CDEPT_DEPTID_PK primary key,
 DEPARTMENT_NAME varchar2(20)constraint CDEPT_DEPTNM_UK UNIQUE CONSTRAINT CDEPT_DNM_NN NOT NULL,
 LOCATION_ID VARCHAR(20));
 
 
 CREATE TABLE CEMPLOYEES
 ( EMPLOYEE_ID NUMBER(5) CONSTRAINT CEMP_EMPID_PK PRIMARY KEY,
  FIRST_NAME VARCHAR2(20),
  JOB_ID VARCHAR2(20),
  SALARY NUMBER(5) CONSTRAINT CEMP_SAL_CHK CHECK(SALARY > = 1000),
  DEPARTMENT_ID NUMBER(5) CONSTRAINT CEMP_DEPTID_FK REFERENCES CDEPARTMENTS(DEPARTMENT_ID) ON DELETE CASCADE );
  
  INSERT INTO CDEPARTMENTS VALUES  ( 90621,'EASACADEMY','CHENNAI');
  INSERT INTO CDEPARTMENTS VALUES (85552,'BROCADE','CHENNAI');
  
  COMMIT;
  
  INSERT INTO CEMPLOYEES VALUES(50227,'SUNDAR','PROJLEAD',45000,90621);
  INSERT INTO CEMPLOYEES VALUES(50228,'SUNDAR','PROJLEAD',45000,85552);
  
  COMMIT;
  
  DROP TABLE CDEPARTMENTS
  
  SELECT * FROM CDEPARTMENTS;
  SELECT * FROM CEMPLOYEES;
  
  
  DELETE FROM CDEPARTMENT
  
  DELETE FROM CDEPARTMENTS WHERE DEPARTMENT_ID=9062